<div id="content" class="portal about">
    <div class="resize">
        <div class="wrapper">
          <div class="row">
              <div>
                  <p>{name} - locale.total: {locale.total} -love   Me!</p>
              </div>
          </div>
          <div class="row">
              <div class="header">
                  <h3 class="ico">visits.created: {visits.created}</h3>
              </div>
              <div class="data">
                  <p> visits.total: {visits.total}, visits.sum: {visits.sum} </p>
              </div>
          </div>


          <div class="row">
              <!-- <div class="header">
                  <h2>ဝေမျှရန်</h2>
              </div> -->
              <div class="data social text-center">
                  <a href="https://plus.google.com/+Myordbok-dictionary" target="_blank" class="icon-google-plus" title="+Zaideih"><span>+Zaideih</span></a>
                  <a href="https://plus.google.com/share?url={http}/{uriCurrent}" target="_blank" class="icon-google-circles" title="share on Google+"><span>...share on Google+</span></a>
                  <a href="http://www.facebook.com/sharer.php?u={http}/{uriCurrent}" target="_blank" class="icon-facebook"><span>...share on Facebook</span></a>
                  <a href="http://twitter.com/share?url={http}/{uriCurrent}&amp;text=online Myanmar dictionary&amp;hashtags=MyOrdbok" target="_blank" class="icon-twitter"><span>...share on Twitter</span></a>
              </div>
          </div>


          <div class="row">
              <div class="header">
                  <h3 class="ico function" title="Version">version: {version}</h3>
              </div>
              <div class="data">
                  <p>...</p>
              </div>
          </div>
        </div>
    </div>
</div>
