@charset "utf-8";
/*
none -> n
select -> s
hand -> h
transparent -> t
hidden -> oh
all -> *
cursor:pointer;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;
*/
img{border:none;}
a{text-decoration:none;outline:none;cursor:pointer;}
*{padding:0;margin:0;position:relative;}
*:after, *:before{position:absolute;display:block;pointer-events:none;content:" ";width:0px;height:0px;text-align:center;vertical-align:middle;}
.n, .none{display:none;}
.h, .hand{cursor:pointer;}
.t{zoom:1; filter:alpha(opacity=50); opacity:0.5;}
.s, .option span, .io{
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	text-decoration:none;outline:none;
}
.fl, .left{float:left;}
.fr, .right{float:right;}
.oh, .hidden{overflow:hidden;}
/*
.rc{-webkit-border-radius:10px;-khtml-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.bs{box-shadow:0px 1px 3px 1px #d3d1d1;}
.ts{text-shadow:#FFF 2px 2px 2px;}
*/
.zawgyi{font-family:Zawgyi-One;}
.myanmar3{font-family:"Myanmar3";}

#bar ul.penu li ul li:before, #bar form input[type="button"], #bar form label,ul.lpa li p a:before,.io {background-image:url(../images/icons.png);background-repeat:no-repeat;}
.loading:before{background-image:url(../images/loading.gif);background-repeat:no-repeat;background-position:center center;border:0px;}
.loading:after{border:0px;}