# Composer
/composer
/composer.lock
/composer.phar
/composer.php
/vendor/

# Nodejs
/node_modules/
/package-lock.json

# Resources
/src/
/tests/
/app/*
!/app/error/
/project/*/environment.ini
!/app/lethil/
*.[A-Z0-9].*

# Custom
backup
nbproject
delete
output
*tmp*/
*delete.*
*tmp.*
*Copy.*
*[0-9]+.*
#development/assets/*/*[0-9].*
#development/assets/*/*Delete*.*
#development/assets/*/*Working*.*
#development/assets/*/*Tmp*.*
#development/assets/*/job*
#development/assets/*/*[job,Working,Tmp,Delete]*.*
#development/*/*/[0-9]+.*
#development/assets/js/[0-9]+.*
ExampleTest.php
TestCase.php
