# Composer
/composer
/composer.lock
/composer.phar
/composer.php
/vendor/

# Nodejs
/node_modules/
/package-lock.json

# Resources
/src/
/tests/
/app/*
!/app/error/
/project/*/environment.ini
!/app/lethil/
# *.[A-Z0-9].*

# Custom
backup
nbproject
delete
output
*tmp*/
*delete.*
*tmp.*
*Copy.*
# *[0-9]+.*
