#content ul,#content ol{ display:table;margin:0 auto; list-style-type: none;}
#content ul li,#content ol li{ display: table-cell;}
#content h1{ padding:70px 40px; text-transform: uppercase; font-weight: normal; text-align: center; font-size: 27px; color: #005BB7; text-shadow: #ccc 1px 0px 1px; }
#content p{display:block; font-weight: normal; text-align: center; }

#content ul {}
#content ul li{width:250px;vertical-align: middle; }
#content ul li p{min-width:150px; min-height: 140px; padding:20px 10px; margin: 2px 20px; border-radius: 2px; background-color: #92A5C7; font-size: 12px; color: #FFFFFF; text-shadow: #666 1px 0px 1px;}
#content ul li p a{ display: inline-block; position: absolute; padding:6px 10px; line-height:100%; bottom: 30px; color: #FFFFFF; right: 30px; background-color: #738AB7; font-size: 14px; box-shadow: 1px 0px 1px 0px #E5E5E5; }
#content ul li p a:before{ width:20px; height:16px; padding:5px 3px; left: -25px; top: 0px;  color: #C6CFE1;  box-shadow: -1px 0px 1px 0px #E5E5E5;opacity:0.7;}
#content ul li.music p a:before{background-position:-13px -181px;}
#content ul li.album p a:before{background-position:-313px -227px;}
#content ul li.artist p a:before{background-position:-112px -227px;}
#content ul li p a:hover{text-shadow:#999 2px 2px 1px;}
#content ul li p a:hover:before{ opacity:1;}

#content p.slogan{margin:2px 20%;padding:40px; font-size: 10px; color: #2c477b;text-transform: uppercase;}


#content ol li { max-width:150px;}
#content ol li a { display: block; margin:2px 2px; padding:10px 3px 5px 3px; min-height:150px;  color: #FFF; font-size:16px; text-decoration: none; text-transform: uppercase; text-align: center; text-shadow: #666 1px 0px 1px;background-color:#8b9ec3;border-radius:2px;}
#content ol li a:before{ content: attr(title); width: 80%; top: 32px; left: 10%; height: 8px; padding:1px 0 3px 0; font-size: 14px; font-weight: bold; color: #CCC; border-top: 1px solid #BBB; }
#content ol li a span { display: block; margin-top:20px; padding:5px; color: #FFF; font-size: 9px; line-height: normal;  }
#content ol li a em { display: block; position: absolute; bottom: 3px; right: 2%; padding: 2px 5px; font-size: 13px; font-style: normal; line-height: 100%; color: #CCC; }
#content ol li a:hover { background-color:#8499C4;}
#content ol li a:hover:before{ color: #FFFFFF; border-top: 1px solid #fff; text-shadow: #000 1px 0px 1px; }
