
#content .resize .wrapper ul{list-style-type: none;}
#content .resize .wrapper{  }
#content .column.zn{ }
#content .column.zm{}

.mlt{ display:table;width:100%;position:relative;}
.mlt .itr{display: table; width:100%; position: relative; }
.mlt .itr div{display: table-cell;position: relative; }
.mlt .itr .iov{ min-width: 105px; }
.mlt .itr .int{ width: 100%; vertical-align: middle;  }

.mlt .itr .iov p {position:relative;}
.mlt .itr .iov span{ position:relative;}
.mlt .itr .iov span.io{ text-indent:-9999px; }

.mlt .itr.alb .iov p {display: block;}

.mlt .itr.alb .iov{ }
.mlt .itr.alb .iov p{ width: 103px; height: 103px; overflow: hidden; box-shadow: inset 0px 1px 1px 1px #666; border-radius:1px; background-color: #C5D1E4;  }
.mlt .itr.alb .iov p img{display: block; width:100%; height:100%; position: relative; opacity:0.6; z-index:0; }
.mlt .itr.alb .iov p span{ display: block; height: 40px; width: 40px; border-radius:30px; top:28%; left:29%; box-shadow: 0px 0px 2px 1px #3A5885; border: 2px solid #F9F9F9; position: absolute; z-index: 1;  background-color: #6B8CBE; opacity: 0.7; background-position:-3px -2px; text-indent:-9999px;}
.mlt .itr.alb .iov p span:hover{ background-color: #5A7EB6; opacity: 0.8; }

.mlt .itr.alb .int{padding-left:3px;}
.mlt .itr.alb .int h3, .mlt .itr .int p{  }
.mlt .itr.alb .int h3 { font-size:18px; font-weight: normal;line-height:28px; }
.mlt .itr.alb .int h3 a{ color: #435781; text-shadow: #F0F0F0 1px 1px 1px; }
.mlt .itr.alb .int h3 a:hover{ color: #666666; text-shadow: #ccc 1px 1px 1px; }
.mlt .itr.alb .int p{position:relative;line-height:23px; }
.mlt .itr.alb .int p a, .mlt .itr.alb .int p span{ display:inline-block;position:relative; border-radius:1px;line-height:19px; font-size: 11px;}


.mlt .itr.alb .int p.artist{ }
.mlt .itr.alb .int p.artist a{ margin-right: 7px; color: #003366; font-size: 12px; }
.mlt .itr.alb .int p.artist a:hover{ color: #006621; text-shadow: #ccc 1px 1px 1px;  }
.mlt .itr.alb .int p.artist a:before{ content: "/"; right: -3px; color: #D7D7D7; font-size: 11px; top:1px; }
.mlt .itr.alb .int p.artist a:nth-last-child(2){margin-right:9px;}
.mlt .itr.alb .int p.artist a:nth-last-child(2):before{content: "&"; }
.mlt .itr.alb .int p.artist a:last-child:before{content: "...";right:0px;}



.mlt .itr.alb .int p.artist a:hover:before{color: #D7D7D7;text-shadow: #ccc 0px 0px 0px; }
.mlt .itr.alb .int p.genre{ }
.mlt .itr.alb .int p.genre a{ padding:0 5px;background-color: #8EA2C6; color: #FFF;text-shadow: #666 1px 1px 1px;  }
.mlt .itr.alb .int p.genre a:hover{ text-shadow: #333 1px 1px 1px; background-color: #778EBB; }

.mlt .itr.alb .int p .year{ color: #666666; text-shadow: #fff 1px 1px 1px; padding: 0px 5px; background-color: #B3C0D9;}
.mlt .itr.alb .int p .year:empty{ display:none;}


.mlt .itr.trk{ padding:5px 0;vertical-align: middle;line-height:23px; }
.mlt .itr.trk li{ display:block; width:100%; position: relative; margin:3px 1px;}
.mlt .itr.trk li p{ display:table-cell;position:relative;}

.mlt .itr.trk .iov{ min-width: 142px; }
.mlt .itr.trk .iov span{ float: left; height: 24px; border-radius: 1px; background-color: #B9C5DB; }
.mlt .itr.trk .iov span.io{ width: 24px; margin-right:2px;box-shadow:inset 0px 1px 1px 0px #939090; }

.mlt .itr.trk .iov span.io:hover{background-color:#9AA6C2;}
.mlt .itr.trk .iov span.io.cur{background-color:#9AA6C2;}
.mlt .itr.trk .iov span.io.cur:after{border:3px solid transparent;border-top-color:#9AA6C2;top:100%;left:9px;}
.mlt .itr.trk .iov span.star{background-position:-12px -273px;background-color:#d3dbe6;margin-right:3px;}
.mlt .itr.trk .iov span.star.like{background-position:-62px -273px;}/*-49px -262px*/
.mlt .itr.trk .iov span.star.top{background-position:-112px -273px;}
.mlt .itr.trk .iov span.star.allthetime{background-position:-162px -273px;}
.mlt .itr.trk .iov span.star.note{background-position:-212px -273px;}

.mlt .itr.trk .iov span.play{background-position:-125px -464px;}/*-13px -9px*/
.mlt .itr.trk .iov span.play.added{background-position:-49px 3px;}
.mlt .itr.trk .iov span.play em{width:13px;height:40px;background-position:-17px -317px;}
.mlt .itr.trk .iov span.play em.no{display:none;}
.mlt .itr.trk .iov span.play em.yes{opacity:0.4;filter:alpha(opacity=40);}

.mlt .itr.trk .iov span.download{background-position:-216px -437px;}
.mlt .itr.trk .iov span.playlist{background-position:-126px -437px;}


.mlt .itr.trk .iov span.length{ margin-left:3px; width: 34px; text-align: center; font-size: 11px; color: #666666; text-shadow: #fff 1px 1px 1px; background-color: #B3C0D9; }
.mlt .itr.trk .int a{ display: table; width: 100%; height: 24px; border-left: 1px solid #fff;}
.mlt .itr.trk .int a span{ display: table-cell; padding:0 1px; overflow:hidden;white-space:nowrap;text-overflow:ellipsis;  }
.mlt .itr.trk .int a span.title{ padding-right: 7px; max-width: 44px; color: #0A0264; }
.mlt .itr.trk .int a span.artist{ font-size: 11px; max-width:32px;color: #036;}
.mlt .itr.trk .int a:hover{ border-left: 1px solid #A0B0CF; background: -moz-linear-gradient(left,  rgba(208,217,232,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(208,217,232,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(left,  rgba(208,217,232,1) 0%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(left,  rgba(208,217,232,1) 0%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(left,  rgba(208,217,232,1) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to right,  rgba(208,217,232,1) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d9e8', endColorstr='#00ffffff',GradientType=1 );
}
/*
.mlt .itr.trk .int a span:hover:before{ content: attr(alt); display: inline-block; top: -15px; height: 18px; width: auto; line-height: 18px; border-radius: 2px; font-size: 11px; padding: 0 5px; background-color: #9CADCD; color: #FFF; text-shadow: #666 1px 1px 1px; }
.mlt .itr.trk .int a span:hover:after{border: solid transparent; border-bottom-color: #8EA2C6; border-width:4px;top: 13px; left:10%;}
*/
.mlt .itr.trk li div{ display:block; line-height: 20px; padding:1% 2%;color: #036;}
/*
.mlt .itr.trk li ul{ box-shadow: inset 0px 1px 1px 0px #ecebeb;  background-color: #FFF; color: #666; font-variant: normal; text-transform: none; border: 1px solid #DADADA;  }
*/
.mlt .itr.trk li div.lyric{ }
.mlt .itr.trk li div.lyric p{}
.mlt .itr.trk li div.lyric li.yes{ color: #C00; }