    <div id="header" class="portal bs5">
        <div class="resize">
            <div class="wrapper">
                <div class="main">
                     <form name="definition" method="get" action="{www}definition" >
                        <input type="text" name="q" value="{q}" />
                    </form> 
                </div>
                <div class="main-menu bsb">
                	<a href="{www}dictionary"><span>Menu</span></a>
                </div>
          </div>
        </div>
    </div>
                    