   
    <div id="footer" class="portal">
        <div class="resize">
            <div class="wrapper">
                <div class="column zd zotune">
                    <p><a href="{app.site}" target="_blank">ZOTUNE</a>developer</p>  
                </div>
                <div class="column zn common">
                    <ul class="more language">
                        {menu.language}
                    </ul> 
                    <ul class="more validation">        
                        <li><a href="#" target="_blank" class="appengine">App Engine</a></li>
                        <li><a href="#" target="_blank" class="valid v_xhtml">Valid HTML5</a></li>
                        <li><a href="#" target="_blank" class="valid v_css">Valid CSS</a></li>
                    </ul> 
                    <ul class="info">
                        <li class="copyright"><p>{link.copyright} {link.privacy}, {link.terms}. {test.visited}</p></li>
                    </ul>
                </div>
                <div class="column zm static">
                    <ul>        
                        <li class="user" title="hits from you">{user.visited}</li>
                        <li class="served" title="Overall hit">{Hits served}</li>
                    </ul>
                </div>
          </div>
        </div>
    </div>