<div id="zozum">
<form action="" method="get" name="deditor">
    <p>
        <label>English</label> <input value="dkdkkdk" name="kdkk" />
        <label>Myanmar</label> <textarea>asdfasdfasdf</textarea>
        <label>Grammar</label> <select><option name="fe">sdfadsf</option></select>
    </p>
    <p class="submit">
        <input value="Edit" name="edit" type="submit" />
        <input value="Add" name="add" type="submit" />
        <input value="Remove" name="remove" type="submit" />
    </p>
</form>
</div>

<div id="zozum">
<form action="" method="get" name="detor">
    <p>
        <label>
            <span>EN</span>
            <input value="dkdkkdk" name="kdkk" />
        </label>
        <label>
            <span>EN</span>
            <textarea>asdfasdfasdf</textarea>
        </label> 
        <label>
            <span>EN</span>
            <select><option name="fe">sdfadsf</option></select>
        </label> 
    </p>
    <p class="submit">
        <input value="Edit" name="edit" type="submit" />
        <input value="Add" name="add" type="submit" />
        <input value="Remove" name="remove" type="submit" />
    </p>
</form>
</div>