@charset "utf-8";
/* CSS Document */

.zProfile {margin:0 1%; padding:1% 0; position:relative; border-radius:2px; font-size:110%;}
.zProfile ul{float:left; width:100%; min-height:170px; margin:1% 0; background-color:#E3E6DD; border-radius:2px; overflow:hidden;}

.zProfile h2,
.zProfile h3{float:left; width:94%; padding:7px 3%; margin:7px 0; border-radius:2px; position:relative; left:0; font-size:125%;  white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.zProfile h2{ background-color: #C5C5C5; color: #7C7C7C; text-shadow: #DDD 1px 1px 1px; }
.zProfile h2 span { float: right; position: absolute; padding: 2px 7px; top: -1px; right: -1px; font-size: 80%; background-color: #D6D6D6; color: #990000; border-radius: 0px 2px 0px 3px; box-shadow: -1px 1px 1px 0px #AEAEAE; }

.zProfile.page h2{background-color:#d6d9cc; }
.zProfile ul h4{ float: left; width: 94%; padding:7px 3%; background-color: #d6d9cc; text-shadow: 1px 1px 1px #EEEEEE; color: #8A8A8A; border-bottom: 1px solid #EFEFEF; }
.zProfile ul li{float:left; width:92%; padding:3% 4%;  font-size:100%;}
.zProfile ul li p{float:left; width:94%; margin:1px 3%; color:#666;}

.zProfile.info {width:56%;}
.zProfile.page {width:40%;}

.zProfile h3{background-color:#DCDED3;}


/*info*/
.zProfile ul.info li{}
.zProfile ul.info li p{}
.zProfile ul.info li p span{margin-right:7px; color:#300;}
.zProfile ul.info li p.name{}
.zProfile ul.info li p.level{}
.zProfile ul.info li p.dreg{}
.zProfile ul.info li p.dlog{}

/*location*/
.zProfile ul.location li{}
.zProfile ul.location li p{}
.zProfile ul.location li p span{margin-right:5px; color:#300;}

/*contact*/
.zProfile ul.contact li{}
.zProfile ul.contact li p{}
.zProfile ul.contact li p span{margin-right:5px; color:#300;}

/*profile*/
.zProfile ul.profile li{padding:5% 4%;}
.zProfile ul.profile li p{}


/*update*/
.zProfile ul.update li{ padding:2% 4%;}
.zProfile ul.update li p{width:46%; padding:0; margin:8px 1%;}
.zProfile ul.update li p a{display:block; padding:7px; border-radius: 2px;  background-color:#CDD0C1; text-shadow:#FFFFFF 1px 1px 1px; color:#797979;white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.zProfile ul.update li p a span{ font-size:100%;}
.zProfile ul.update li p a:hover{background-color:#C1C6B3; color:#333333;}

/*status*/
.zProfile ul.status li{}
.zProfile ul.status li p{width:46%; border-radius:2px; margin:1% 1%; position:relative; white-space:nowrap; text-overflow:ellipsis; overflow:hidden;}
.zProfile ul.status li p a{float:left; width:auto; padding:7px; font-size:100%; text-shadow:#FFFFFF 1px 1px 1px; color:#797979; z-index:1;}
.zProfile ul.status li p a span{ float: right; padding: 3px 7px; font-size: 90%; position: absolute; right: 2%; top: 4px; border-radius: 2px; z-index: 0; background-color: #AEB39B; }

.zProfile ul.status li p.private {background-color:#CDD0C1;}
.zProfile ul.status li p.public {background-color:#C1C6B3;}

.zProfile ul.status li p.private a span{ color:#900;}
.zProfile ul.status li p.public a span{ color: #F8F8F8; text-shadow: #666 1px 1px 1px; }
.zProfile ul.status li p a:hover span { background-color: #B8BCA7; color: #646464; }

/*system*/
.zProfile ul.system li{padding:5% 4%;}
.zProfile ul.system li p{}
.zProfile ul.system li p span{}
.zProfile ul.system li p em{ font-style: normal; color: #900; font-size:80%;}

/*common*/
.zProfile ul.null,
.zProfile ul li.null,
.zProfile ul li p.null,
.zProfile ul li p span.null {color:#C8CBDF;}
/*