@charset "utf-8";
/*LOGIN*/
#content .resize .wrapper{ background-image: url(../../template/images/login-banner.png); background-repeat: no-repeat; background-position: center center; }
.zBanner{ float: left; width: 67%; padding: 80px 0; position: relative;  }
.zBanner h2,
.zBanner p{ display:block; color: #2c477b; text-transform: uppercase; }
.zBanner h2{ padding:5px 10% 20px 10%; font-size: 27px; color: #475d89; font-weight: normal; }
.zBanner p{ padding:10px 10% 10px 10%; font-size: 10px; color: #2c477b; }
.zBanner .boxWarp{ float:right; width:50%; position:absolute; right:0; top:0;}
.zInfo{ float: right; width: 33%; }


#content form { float: left; max-width: 430px; min-height: 350px; margin: 15px 0 15px 1%; border-radius: 2px; overflow: hidden; background-color: #EFEFEF; color: #666; }
#content form h3{ display: block; padding: 7px 5%; font-size: 16px; color: #999999; border-bottom: 1px solid #fff; background-color: #E4E4E4; text-shadow: #FFFFFF 1px 1px 1px; }
#content form a { color: #600; }
#content form div {float:left; width:90%; padding:5px 5%; }
#content form div span{ float: left; width: 70%; padding: 4px 0; color: #999; font-size: 12px; }
#content form div input { float: left; width: 75%; padding: 5px 5px; margin: 0 2%; border: 1px solid #d4cccc; background-color: #fff; border-radius: 2px; box-shadow:0px 0px 1px 0px #c5c5c5; }
#content form div.submit {}
#content form div.submit input[type="submit"] { width:auto; padding:5px 15px; text-transform: uppercase; color: #E9E9E9; background-color:#646563; border: 1px solid #585454; }
#content form div.submit input[type="submit"][disabled] { color: #666666; background-color: #969795; border: 1px solid #A09C9C; }

#content form div.msg {width:86%; padding:7px 7%; font-size: 11px;}
#content form div.msg a.FGPWD { color: #036; }
#content form div.msg a.FGPWD.active { color: #900; text-decoration: underline; }
#content form div.error { width:86%; padding:7px 7%;  color: #900; }
#content form div.verificationrequired { color: #900; }
#content form div.verificationrequired a { color: #C00; text-decoration: underline; }
#content .box { width: 40%; height: auto; padding: 50px 4%; color: #900; margin-top: 60px; font-size: 12px; }
#content .box.verification.success { color: #360; font-size: 17px; text-shadow: #FFFFFF 1px 1px 1px;}


#content form[name="FGPWD"] {float:right; max-width: 300px; }
/*
.login #content .resize .wrapper{ background-image: url(../../template/images/login-banner.png); background-repeat: no-repeat; background-position: center center; }
.zBanner{ float: left; width: 67%; padding: 80px 0; position: relative;  }
.zBanner h2,
.zBanner p{ display:block; color: #2c477b; text-transform: uppercase; }
.zBanner h2{ padding:5px 10% 20px 10%; font-size: 27px; color: #475d89; font-weight: normal; }
.zBanner p{ padding:10px 10% 10px 10%; font-size: 10px; color: #2c477b; }
.zBanner .boxWarp{ float:right; width:50%; position:absolute; right:0; top:0; }
.zInfo{ float: right; width: 33%; }


.login #content form { float: left; max-width: 430px; min-height: 350px; margin: 15px 0 15px 1%; border-radius: 2px; overflow: hidden; background-color: #EFEFEF; color: #666; }
.login #content form h3{ display: block; padding: 7px 5%; font-size: 16px; color: #999999; border-bottom: 1px solid #fff; background-color: #E4E4E4; text-shadow: #FFFFFF 1px 1px 1px; }
.login #content form a { color: #600; }
.login #content form div {float:left; width:90%; padding:5px 5%; }
.login #content form div span{ float: left; width: 70%; padding: 4px 0; color: #999; font-size: 12px; }
.login #content form div input { float: left; width: 75%; padding: 5px 5px; margin: 0 2%; border: 1px solid #d4cccc; background-color: #fff; border-radius: 2px; box-shadow:0px 0px 1px 0px #c5c5c5; }
.login #content form div.submit {}
.login #content form div.submit input[type="submit"] { width:auto; padding:5px 15px; text-transform: uppercase; color: #E9E9E9; background-color:#646563; border: 1px solid #585454; }
.login #content form div.msg {width:86%; padding:7px 7%; font-size: 11px;}
.login #content form div.msg a.FGPWD { color: #036; }
.login #content form div.msg a.FGPWD.active { color: #900; text-decoration: underline; }
.login #content form div.error { width:86%; padding:7px 7%;  color: #900; }
.login #content form div.verificationrequired { color: #900; }
.login #content form div.verificationrequired a { color: #C00; text-decoration: underline; }
.login #content .box { width: 40%; height: auto; padding: 50px 4%; color: #900; margin-top: 60px; font-size: 12px; }
.login #content .box.verification.success { color: #360; font-size: 17px; text-shadow: #FFFFFF 1px 1px 1px;}


.login #content form[name="FGPWD"] {float:right; max-width: 300px; }
*/