@charset "utf-8";

/*UPDATE PROFILE*/
.zReq { }
.zReq form { float: left; width: 94%; padding: 7% 2%; margin: 7px 1% 7px 1%; font-size: 11px; color: #666;  border-radius: 3px; background-color: #d6d9cc; }
/*width:95%; padding:7% 2%; margin:7px 0 7px 1%; */
.zReq form h2{ float:left; width:90%; padding:0 5%; font-size: 12px; }
.zReq form div{ float:left; width:90%; padding:1px 5%; margin:0;}
.zReq form p{ float:left; width:88%; padding:7% 6%; margin:0;}
.zReq form div span{ float:left; width:98%; padding:2px 1%; }
.zReq form div input{float:left; width:90%; padding:4px 5px 4px 5px; margin:2px 4px; border: 0px solid #a09e9c; border-radius: 2px; -webkit-border-radius: 2px; background-color:#f7f7f7;}
.zReq form div strong{}
.zReq form div.submit{  }
.zReq form div.submit span { }
.zReq form div.submit input{ width: auto; padding: 5px 7px 5px 7px; color: #CCC; background-color: #666666; }
.zReq form div span.load{ float:left; width:16px; height:16px; margin:3px 1px; padding:2px; background-repeat: no-repeat; background-position: center center; }
.zReq form div span.loading{ background-image: url(../../js/loading-arrow.gif); border: 1px solid #999;}
.zReq form div.msg { width:88%; padding:4% 6%; font-size: 11px; color: #900; }

.zReq .msg {float:left; width:75%; padding:5%; margin:25% 5% 5% 5%; background-color: #f7b872;}

.zForm { }
.zForm form{ float:left; width:94%; margin:1% 1%; padding:1% 2% 1% 2%; background-color:#E3E6DD; color: #333; position:relative; border-radius: 3px;}
.zForm form h2{ float: left; width: auto; padding: 7px 15px; margin: 1px; color: #666666; font-size: 15px; background-color:#DCDED3; border-radius: 2px; -webkit-border-radius: 2px; text-shadow: #FFFFFF 1px 1px 1px;  position: relative; right: 4%; }
.zForm form div { float:left; width:96%; margin:1px 1%; padding:3px 1%; -moz-border-radius: 2px; -webkit-border-radius: 2px;} /*background-color: #dddedb;*/
.zForm form div span{font-size: 12px;}
.zForm form div input,
.zForm form div select,
.zForm form div textarea { float: left; width: 50%; padding:6px 5px; background-color: #FBFBFB; border-radius:2px; border: 0px solid #E2E4DC; box-shadow:0px 0px 1px 0px #c5c5c5; }
/*240px*/
.zForm form div textarea { }

.zForm form div select[name="xtitle"],
.zForm form div select[name="xgender"],
.zForm form div select[name="xbeh"]{ padding:5px 5px;}


.zForm form div select[name="xtitle"]{ width:15%; margin-right:5px;  }
.zForm form div select[name="xgender"]{ width:20%; margin-right:5px; }
.zForm form div select[name="xbeh"]{ width:30%; }

.zForm form div input[name="xfullname"],
.zForm form div input[name="xcity"]{ width: 30%; margin-right:1%; }
.zForm form div input[name="xpostcode"]{ width: 10%; }

.zForm form div span{ float:left; width:33%; margin:0; padding:3px 0; color: #666; }
.zForm form div span.desc{ font-size: 10px; color: #666; }
.zForm form div em{ float:left; padding:2px; font-size:10px; font-style: normal; color: #F00; }
.zForm form div.submit{ background: none;}
.zForm form div.submit input { margin-left: 33%; width: auto; color: #E9E9E9; background-color: #777D7D; border: 1px solid #666666; }

.zForm form div span.load{ float:left; width:16px; height:16px; margin:1px; padding:2px; background-repeat: no-repeat; background-position: center center; }
.zForm form div span.loading{ background-image: url(../../js/loading-arrow.gif); border: 1px solid #999;}

.zForm form div.access{ }
.zForm form div.access input{ background-color: #fbf3eb; }
.zForm form div.msg { width:auto; margin-left:33%; padding:3px 10px; }

.zForm form[name="xprod"] { margin:2px 1% 1px 3%; }
.zForm form[name="xprod"] div{  margin:1px 1%; padding:0 1%;}
.zForm form[name="xprod"] div span{width:90%; padding:2px 0;}
.zForm form[name="xprod"] div.xprodGED input{ width: 20%;}
.zForm form[name="xprod"] div.xprodGOP input{ width: 30%;}
.zForm form[name="xprod"] div.xprodDES { width: 45%;  }
.zForm form[name="xprod"] div.submit { width: 42%; padding: 5px 0; margin-top: 18px; }
.zForm form[name="xprod"] div.submit input { margin-left:2px; padding:10px 15px 10px 15px;  }

.zForm.klipp  form{ background-color: #f7b872; }
.zForm.farge form{ background-color: #e8d0b5;  }
.zForm.stylingogannentjenester form { background-color: #e5e0a3; }