.pagination{display:block; padding:25px 0px; }
.pagination a, .pagination span{ padding: 5px 0px; min-width: 30px; margin: 3px 1px; color: #999; display: inline-block; border-radius: 1px; text-align: center; }
.pagination a{ border:0; background-color: #BCC5D8; color: #333333; text-shadow: 0px 1px 1px #fff; }
.pagination a:hover {background-color:#7C8DB1;}

.pagination a.current{ color:#F5F5F5;text-shadow:0px 1px 0px #626368; background-color: #95a3c0; }
.pagination a.current:before{ border:4px solid transparent; border-bottom-color: #95a3c0; top:-8px; left:35%;}

.pagination a.btn{ padding:5px 4px;}
.pagination a.pvt{margin-right:3px}
.pagination a.pvt:before{ border:4px solid transparent; border-left-color: #BCC5D8; top:35%; right:-7px;}
.pagination a.pvt:hover:before{ border-left-color: #7C8DB1;}
.pagination a.pnt{margin-left:3px;}
.pagination a.pnt:hover:before{ border-right-color: #7C8DB1;}
.pagination a.pnt:before{ border:4px solid transparent; border-right-color: #BCC5D8; top:35%; left:-7px;}
.pagination a.disabled{ color: #C9C9C9; background-color: #E0E4ED; }


/*SINGLE*/
.mlt{ display: block; margin-bottom:10px; font-style: normal; font-weight: normal; font-variant: normal;}
.mlt:last-child{margin-bottom:0px; }
.mlt .tr{display:block;}
.mlt .tr .td{display:table-cell;}
.mlt .tr.tk{ margin-bottom: 7px; }

.mlt .tr .iov span.star{background-position:-12px -273px;}
.mlt .tr .iov span.star.like{background-position:-62px -273px;}
.mlt .tr .iov span.star.top{background-position:-112px -273px;}
.mlt .tr .iov span.star.allthetime{background-position:-162px -273px;}
.mlt .tr .iov span.star.note{background-position:-212px -273px;}
.mlt .tr .iov span.playlist{background-position:-125px -437px;}
.mlt .tr .iov span.download{background-position:-215px -437px; }
.mlt .tr .iov span.lyric{background-position:-306px -437px;}

.mlt .iov{min-width:105px;}
.mlt .int{ width:100%; vertical-align: middle; }

.mlt dt .iov p{ width:105px;height:105px; overflow: hidden; box-shadow: inset 0px 1px 1px 1px #666; border-radius:2px; background-color: #C5D1E4;}
.mlt dt .iov p img{display: block; opacity:0.6; z-index:0; max-width:105px; height:auto; max-height:105px;}
.mlt dt .iov p span{ display: block;height:25px;border-radius:2px; width:25px; position: absolute; z-index: 1;  background-color: #6B8CBE; opacity: 0.6; text-indent:-9999px;}
.mlt dt .iov p span.play{ height: 40px; width: 40px; border-radius:30px; top:29%; left:29%; box-shadow: 0px 0px 2px 1px #3A5885; border: 2px solid #F9F9F9; background-position:-3px -2px; }
.mlt dt .iov p span:hover{ background-color: #5A7EB6; opacity: 0.8; }
.mlt dt .iov p span.star{ top:5%; left:5%; }
.mlt dt .iov p span.lyric{ top:5%; right:5%; }
.mlt dt .iov p span.playlist{ bottom:5%; left:5%; }
.mlt dt .iov p span.download{ bottom:5%; right:5%; }

.mlt dt .int{ padding-left:7px;}
.mlt dt .int p{ font-size: 11px; }
.mlt dt .int a, .mlt dt .int span{display:inline-block; border-radius:1px;}

.mlt dt .int p.h1 a{ color: #435781; text-shadow: #F0F0F0 1px 1px 1px; font-size:18px; font-weight: normal;line-height:25px;}
.mlt dt .int p.h1 a:hover{ color: #666666; text-shadow: #ccc 1px 1px 1px; }

.mlt dt .int p.h2{padding:1px 0 2px 0;line-height:19px; color: #666;}
.mlt dt .int p.h2 a{ margin-right:10px; color: #003366; font-size: 12px; }
.mlt dt .int p.h2 a:hover{ color: #006621;  }
.mlt dt .int p.h2 a:before{content:"/";right:-3px; color: #D7D7D7; font-size: 11px; top:1px; }
.mlt dt .int p.h2 a:nth-last-child(2){margin-right:13px;}
.mlt dt .int p.h2 a:nth-last-child(2):before{content:"&"; }
.mlt dt .int p.h2 a:last-child:before{content:"...";right:0px;}
.mlt dt .int p.h2 a:hover:before{color: #D7D7D7; }

.mlt dt .int p.h2.year a{ margin-right: 2px; }
.mlt dt .int p.h2.year a:before{ content:","; right:0px; }
.mlt dt .int p.h2.year a:nth-last-child(2){margin-right:13px; }
.mlt dt .int p.h2.year a:nth-last-child(2):before{content:"&";right:-3px; }
.mlt dt .int p.h2.year a:last-child:before{content:".";}

.mlt dt .int p.h3{line-height:22px; }
.mlt dt .int p.h3 a{ padding:0 5px;background-color: #8EA2C6; color: #FFF;text-shadow: #666 1px 1px 1px;  }
.mlt dt .int p.h3 a:hover{ text-shadow: #333 1px 1px 1px; background-color: #778EBB; }
.mlt dt .int p.h3 span{margin-bottom:2px; color: #666666; padding:0 2px; text-shadow: #fff 1px 1px 1px; background-color: #B3C0D9; text-align: center; }
.mlt dt .int p.h3 span.length{padding:0 4px;}
.mlt dt .int p.h3 span.is{padding:0 4px;}
.mlt dt .int p.h3 span.is:before{ content: attr(title); padding:0 4px; width: auto; height: 22px; left: 0; background-color: #CFD8E7; color: #A4A4A4; text-align: center; }
.mlt dt .int p.h3 span.is.plays{padding-left:39px;}
.mlt dt .int p.h3 span.is.comments{padding-left:61px;}
.mlt dt .int p.h3 span.is.stars{padding-left:38px;}
.mlt dt .int p.h3 span.is.albums{padding-left:47px;}
.mlt dt .int p.h3 span.is.tracks{padding-left:45px;}
.mlt dt .int p.h3 span.is.lengths{padding-left:45px;}
.mlt dt .int p.h3 span.is.plays:before{}
.mlt dt .int p.h3 .year{width:30px;}
.mlt dt .int p.h3 span:empty{display:none;}

.mlt dd{vertical-align: middle; padding-top:7px;line-height:23px;}

.mlt dd ol {display:block;}
.mlt dd ol li{ display: block; width: 100%; padding: 1px 0;}
.mlt dd ol li p{}
.mlt dd ol li .iov{ min-width: 146px; }

.mlt dd ol li .iov span{ float: left; height: 25px; background-color: #B9C5DB;  }
.mlt dd ol li .iov span.io{ width: 25px;  margin-right:2px;box-shadow:inset 0px 1px 1px 0px #939090; text-indent:-9999px;}
.mlt dd ol li .iov span.io:first-child{margin-right:1px; }
.mlt dd ol li .iov span.io:hover{background-color:#9AA6C2;}
.mlt dd ol li .iov span.io.cur{background-color:#9AA6C2;}
.mlt dd ol li .iov span.io.cur:before{ border: 3px solid transparent; border-top-color: #9AA6C2; top: 100%; left: 9px;  }
.mlt dd ol li .iov span.star{background-color:#d3dbe6;}
.mlt dd ol li .iov span.play{background-position:-125px -464px;}
.mlt dd ol li .iov span.play.added{background-position:-175px -464px;}/*-49px 3px;*/
.mlt dd ol li .iov span.play em{width:13px;height:40px;background-position:-17px -317px;}
.mlt dd ol li .iov span.play em.no{display:none;}
.mlt dd ol li .iov span.play em.yes{opacity:0.4;filter:alpha(opacity=40);}
.mlt dd ol li .iov span.length{margin-left:5px; margin-right:0; padding-top:1px; height:24px;  width: 34px; text-align: center; font-size: 11px; color: #666666; text-shadow: #fff 1px 1px 1px; background-color:#B3C0D9; overflow:hidden;white-space:nowrap;}
.mlt dd ol li .int a{display: table; width:100%; height: 25px;}
.mlt dd ol li .int a span{display: table-cell;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;  }
.mlt dd ol li .int a span.title{padding:0 7px 0 7px; max-width: 30px; color: #0A0264; }
.mlt dd ol li .int a span.artist{font-size: 11px; max-width: 27px; color: #036; font-style:normal; font-weight: normal; font-variant: normal; }
.mlt dd ol li .int a:hover{background: -moz-linear-gradient(left,  rgba(208,217,232,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(208,217,232,1)), color-stop(100%,rgba(255,255,255,0)));background: -webkit-linear-gradient(left,  rgba(208,217,232,1) 0%,rgba(255,255,255,0) 100%); background: -o-linear-gradient(left,  rgba(208,217,232,1) 0%,rgba(255,255,255,0) 100%); background: -ms-linear-gradient(left,  rgba(208,217,232,1) 0%,rgba(255,255,255,0) 100%); background: linear-gradient(to right,  rgba(208,217,232,1) 0%,rgba(255,255,255,0) 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d9e8', endColorstr='#00ffffff',GradientType=1);}
.mlt dd ol li .int a:hover:after{border:4px solid transparent; border-left-color:#B3C0D9; top:34%; left:0;}
.mlt dd ol li .int a:hover:before{border: 5px solid transparent; border-left-color:#fff; top:30%; left:0;}
/*
.mlt dd ol li.gad{ }
.mlt dd ol li.gad .rere{ width:auto;height:20px; overflow:hidden;}
.mlt dd ol li.gad .rere>div{ padding:5px; width:728px; height:15px; position:absolute; }

.mlt dd ol li.gad .int{display:table;background-color: #999; padding:5px; max-width:728px; height:15px; }
.mlt dd ol li.gad .int>*{ display:block;position:absolute; }
*/
.mlt dd ol li.gad{ overflow:hidden; height:20px;}
.mlt dd ol li.gad>p{display:table;padding:5px 5px 5px 6px; width:728px; position:absolute; }

.mlt .tr main{display:table; width:96%; line-height:20px; padding:1% 2%; color:#036;  }
.mlt .tr main.lyric{}

/*ALBUMS*/
.alb{ float:left; font-style: normal; font-weight: normal; font-variant: normal;width: 160px; min-height: 230px; padding: 5px; margin: 7px 1px 8px 1.8%; z-index:0; }
.alb:hover{ z-index:2; }
.albs{ background-color: #FBFCFD; box-shadow: 0px -1px 1px 1px #B6B4B4; }
.albs{ background-color: #FBFCFD; box-shadow: inset 0px 0px 1px 1px #D0CECE; border-radius: 2px; }

.alb:nth-last-child(-n+6) {   }
.alb:nth-child(-n+10) { background-color: #FBFCFD;  box-shadow: inset 0px 0px 1px 1px #D0CECE; border-radius: 2px;  }
.alb:nth-child(-n+5) { background-color: #FBFCFD; box-shadow: 0px -1px 1px 1px #B6B4B4; }
/*
.alb:nth-child(+n+5) { background-color: #FBFCFD; box-shadow: 0px -1px 1px 1px #B6B4B4; }
.alb:nth-last-child(-n+11) { box-shadow: inset 0px 0px 1px 1px #D0CECE; border-radius: 2px;  }
*/
.alb dt{ display: block; text-align: center;}

.alb dt .iov p{ display: table-cell; width: 160px;height: 160px;  vertical-align: middle;}
.alb dt .iov p img{ z-index: 0; width: 100%; max-height: 160px; box-shadow: 0px 1px 1px 0px #9D9D9D; }
.alb dt .iov p:hover img{opacity: 0.6;}
.alb dt .iov p a, .alb dt .iov p span{ display: block; border-radius:1px; position: absolute; z-index: 1; }

.alb dt .iov p a{ }
.alb dt .iov p span{ height:23px;  opacity: 0.6;}
.alb dt .iov p span.play{ height: 41px; width: 41px; border-radius:30px; top:35%; left:36%; background-color: #6B8CBE; box-shadow: 0px 0px 2px 1px #3A5885; border: 2px solid #F9F9F9; background-position:-3px -2px; text-indent:-9999px; z-index:9999;opacity: 0.8;}
.alb dt .iov p span.play:hover{ background-color: #5A7EB6;  }
.alb dt .iov p span.year{ width: 100%; bottom: 15%; right:0; font-size: 20px; color: #FFFFFF; text-shadow: #000 1px 1px 1px; text-align: center; }
.alb dt .iov p span.length{ width: 60px; height: 18px; bottom: 2%; left: 0; font-size: 12px; color: #3D527A; text-shadow: #999 1px 1px 1px; }

.alb dt .iov p a.genre{ width:100%; top:-1px; left:0; padding:7px 0; font-size: 14px; color: #4A6595; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-shadow: #fff 1px 1px 1px;}
.alb dt .iov p a.genre{background: -moz-linear-gradient(top,  rgba(240,243,249,1) 0%, rgba(245,247,251,1) 35%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,243,249,1)), color-stop(35%,rgba(245,247,251,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,  rgba(240,243,249,1) 0%,rgba(245,247,251,1) 35%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top,  rgba(240,243,249,1) 0%,rgba(245,247,251,1) 35%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top,  rgba(240,243,249,1) 0%,rgba(245,247,251,1) 35%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,  rgba(240,243,249,1) 0%,rgba(245,247,251,1) 35%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f3f9', endColorstr='#00ffffff',GradientType=0 );
}
.alb dd .h1 a{ display: block; color: #435781; text-shadow: #F0F0F0 1px 1px 1px; font-size: 15px; line-height: 27px; text-align: center;white-space: nowrap; text-overflow: ellipsis;  z-index:0; overflow:hidden;}
.alb dd .h1 a:hover{overflow:visible; }

.alb dd .h1 a:hover:after{ content: attr(title); top:0px; left: 0; width: auto; min-width:100%; height: 27px; background-color: #A9B8D3;  }

.alb:hover dd .h1 { background-color: #B3C0D9;}
.alb:hover dd:hover .h1 { background-color: #A9B8D3; }
.alb:hover dd .h1 a{ color: #FFFFFF; text-shadow: #666 1px 1px 1px; }

.alb dd .h3 {line-height:20px; margin-top:1px;z-index:7;}
.alb dd .h3 span{ display: block; height: 20px; font-size: 12px; color: #666666; padding-right: 5px; text-shadow: #fff 1px 1px 1px; background-color: #D8DEEB; text-align: center; border-radius: 1px; overflow: hidden; }
.alb dd .h3 span:before{ content: attr(title); padding:0 4px; width:auto; height: 20px; left: 0; background-color: #C2CDE0; color: #A4A4A4; text-align: center; }
.alb dd .h3 span{padding-left:50px;}

/*ARTISTS*/
.art{ float:left; font-style: normal; font-weight: normal; font-variant: normal;width: 120px; min-height: 150px; padding: 5px; margin: 7px 1% 8px 2%; z-index:0; }
.art:hover{ z-index:2; }
/*
.art:nth-last-child(-n+6) {   }
.art:nth-child(-n+10) { background-color: #FBFCFD;  box-shadow: inset 0px 0px 1px 1px #D0CECE; border-radius: 2px;  }
.art:nth-child(-n+5) { background-color: #FBFCFD; box-shadow: 0px -1px 1px 1px #B6B4B4; }
*/
.art dt{ display: block; text-align: center;}

.art dt .iov p{ display: table-cell; width: 120px;height: 120px;  vertical-align: middle;}
.art dt .iov p img{ z-index: 0; width: 100%; max-height: 120px; box-shadow: 0px 1px 1px 0px #9D9D9D; }
.art dt .iov p a, .art dt .iov p span{ display: block; border-radius:1px; position: absolute; z-index: 1; }

.art dt .iov p a{ }
.art dt .iov p span{ height:23px;  opacity: 0.6;}
.art dt .iov p span.play{ height: 40px; width: 40px; border-radius:30px; top:33%; left:36%; background-color: #6B8CBE; box-shadow: 0px 0px 2px 1px #3A5885; border: 2px solid #F9F9F9; background-position:-3px -2px; text-indent:-9999px; z-index:9999;}
.art dt .iov p span.play:hover{ background-color: #5A7EB6; opacity: 0.8; }
.art dt .iov p span.year{ width: 45px; bottom: 3%; right: 3%; font-size: 20px; color: #FFFFFF; text-shadow: #000 1px 1px 1px; }
.art dt .iov p span.length{ width: 60px; height: 18px; bottom: 2%; left: 0; font-size: 12px; color: #3D527A; text-shadow: #999 1px 1px 1px; }

.art dt .iov p a.genre{ width:100%; top:-1px; left:0; padding:7px 0; font-size: 14px; color: #4A6595; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; text-shadow: #fff 1px 1px 1px;}
.art dt .iov p a.genre{background: -moz-linear-gradient(top,  rgba(240,243,249,1) 0%, rgba(245,247,251,1) 35%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,243,249,1)), color-stop(35%,rgba(245,247,251,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top,  rgba(240,243,249,1) 0%,rgba(245,247,251,1) 35%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top,  rgba(240,243,249,1) 0%,rgba(245,247,251,1) 35%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top,  rgba(240,243,249,1) 0%,rgba(245,247,251,1) 35%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom,  rgba(240,243,249,1) 0%,rgba(245,247,251,1) 35%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f3f9', endColorstr='#00ffffff',GradientType=0 );
}
.art dd .h1 a{ display: block; color: #435781; text-shadow: #F0F0F0 1px 1px 1px; font-size: 11px; line-height: 27px; text-align: center;white-space: nowrap; text-overflow: ellipsis;  z-index:0; overflow:hidden;}
.art dd .h1 a:hover{overflow:visible; }

.art dd .h1 a:hover:after{ content: attr(title); top:0px; left: 0; width: auto; min-width:100%; height: 27px; background-color: #A9B8D3; }
.art dd .h1 { background-color: #B3C0D9;}
.art:hover dd .h1 { background-color: #B3C0D9;}
.art:hover dd:hover .h1 { background-color: #A9B8D3; }
.art:hover dd .h1 a{ color: #FFFFFF; text-shadow: #666 1px 1px 1px; }

.art dd .h3 {line-height:20px; margin-top:1px;z-index:7;}
.art dd .h3 span{ display: block; height: 20px; font-size: 12px; color: #666666; padding-right: 5px; text-shadow: #fff 1px 1px 1px; background-color: #D8DEEB; text-align: center; border-radius: 1px; overflow: hidden; }
.art dd .h3 span:before{ content: attr(title); padding:0 4px; width:auto; height: 20px; left: 0; background-color: #C2CDE0; color: #A4A4A4; text-align: center; }
.art dd .h3 span{padding-left:50px;}

/*
SUGGESTION
*/
.srs{ list-style: none; padding: 7% 5%; margin: 2% 7%; line-height: 17px; color: #333; }
.srs li{ }
.srs li.query{ font-size: 17px; margin-bottom:1%; }
.srs li.query strong{ color: #465986; }
.srs li.sl{ margin-left:1%;  }
.srs li.head{ margin-top:2%; margin-bottom:2%; font-size: 15px; }
.srs li.sug{ margin-left: 1%; color: #666; }

.srs li a{}
.srs li ol{  margin:1%; color: #999; text-shadow: #ccc 0px 0px 1px; font-size: 12px; line-height: 19px;list-style: none;}
.srs li ol li{ position:relative; padding:2px 3%;}
.srs li ol li:before{ top:6px; left: 0; content: " "; width: 10px; height: 10px; background-color: #8D9EC5; border-radius:7px; }

.srs li ol li:first-child:before{ background-color: #637aae;}
.srs li ol li a{ color: #495E8D; }
.srs li ol li a:hover{text-decoration: underline; }
.srs li ol li:first-child a{ color: #006; font-size: 13px; }
.srs li ol li:first-child a:hover{  color: #900;  }

/*
ALTERNATIVE
*/
dl.alt{display:block;}
dl.alt dt, dl.alt dd{display:table;width:100%;}
dl.alt dt a{ display: table-cell; max-width:90px;padding: 7px 2px 7px 15px; cursor: pointer; border-left:3px solid #fff; vertical-align: middle; color:#7F7F7F;background-color:#E1E4EC; border-radius:1px;box-shadow:inset 0px 1px 1px 0px #b7b6b6; }
dl.alt dt a em{display:block;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-style:normal;text-shadow:1px 0px 2px #fff;padding:5px 0px; }
dl.alt dt a:hover em{ color: #000080; }
dl.alt dt a.io{min-width:22px; max-width:22px; background-position: -98px -173px; text-indent: -9999px; }
dl.alt dt a.io.comment{background-position: -98px -173px;}
dl.alt dt a.io.contribution{background-position: -200px -173px;}
dl.alt dt a.io.tag{background-position: -145px -173px;}
dl.alt dt a.io.other{background-position: -250px -173px;}
dl.alt dt a:after{top:100%;left:40%;}
dl.alt dt a:before{top:40%;left:7px;border:4px solid transparent;border-left-color:#d0d0d2;}
dl.alt dt a.cur:before{top:44%;left:5px;border-top-color:#F5F5F5;}
dl.alt dt a.cur:after{border:5px solid transparent;border-top-color:#A8B5CE;}
dl.alt dt a:first-child{border:0px; }
dl.alt dt a.cur{color:#333;text-shadow:1px 0px 1px #fff;background-color:#A8B5CE;box-shadow:inset 0px 1px 1px 0px #6f88b7;}
dl.alt dt a.loading{ background-color: #EAECF2; }
dl.alt dt a.loading:before{top:-1px;left:-2px;border:0;width:20px;height:100%;}
dl.alt dt a.loading:after{border-top-color:#EAECF2;}

dl.alt dd{display:none;line-height:20px; padding-top:5px;}
dl.alt dd:nth-child(2){display:block;}

dl.alt dd>p,dl.alt dd>ol,dl.alt dd>ul{ display: block; color:#333;margin-top:10px; }
dl.alt dd>p>a{color:#039;}
dl.alt dd>p>a:hover{ color: #060; }
dl.alt dd .b1{ box-shadow: inset 0px 1px 2px 0px #ecebeb; border-bottom: 1px solid #eeeded; padding: 20px 30px; color: #333; font-variant: normal; text-transform: none; }
dl.alt dd .b1:after{ top: 0px; left: 8px; width: 20px; height:20px; padding:0px 5px;box-shadow: inset 0px -1px 1px 0px #939090; background-color: #fff;border-radius: 2px;font-size: 12px; content:attr(data-icon);text-shadow: #666 0px 1px 1px; overflow: hidden; color: #FFFFFF; font-family: "Times New Roman", Times, serif; }

dl.alt dd .b1 a.year{ display: inline-block; line-height: 19px; margin-right: 7px; color: #000099;}
dl.alt dd .b1 a.year:hover{ color: #006621;  }
dl.alt dd .b1 a.year:before{ content: ","; right: -1px; color: #D7D7D7; font-size: 11px; top: 1px; }
dl.alt dd .b1 a.year:nth-last-of-type(2){margin-right:12px;}
dl.alt dd .b1 a.year:nth-last-of-type(2):before{right: -3px;content:"&"; }
dl.alt dd .b1 a.year:nth-last-of-type(1){margin-right:1px;}
dl.alt dd .b1 a.year:nth-last-of-type(1):before{display:none;}
dl.alt dd .b1 em{ font-style: normal; color: #036; }


/*
dl.alt dd .b1 a.year:last-child:before{content:"...";right:0px;}
dl.alt dd .b1 a.year:hover:before{color: #D7D7D7; }
*/

/*

dl.alt dd .b1 a.year{ margin-right: 2px; }
dl.alt dd .b1 a.year:before{ content:","; right:0px; }
dl.alt dd .b1 a.year:nth-last-child(2){margin-right:13px; }
dl.alt dd .b1 a.year:nth-last-child(2):before{content:"&";right:-3px; }
dl.alt dd .b1 a.year:last-child:before{content:".";}

.mlt dt .int p.h2.year a{ margin-right: 2px; }
.mlt dt .int p.h2.year a:before{ content:","; right:0px; }
.mlt dt .int p.h2.year a:nth-last-child(2){margin-right:13px; }
.mlt dt .int p.h2.year a:nth-last-child(2):before{content:"&";right:-3px; }
.mlt dt .int p.h2.year a:last-child:before{content:".";}
*/
/*
	COMMON msg box
*/
dl.alt ol{ }
dl.alt ol li{ list-style-type: none; }
dl.alt ul{ display: block; }
dl.alt ul li{ list-style-type: none; }
/*
	d2 USER SUGGESTION -> RESULT
*/
dl.alt dd ol.d2{}
dl.alt dd ol.d2>li{color:#039;margin:5px 0;font-size:13px;box-shadow:inset 0px 1px 1px 0px #dedbdb;border-bottom:1px solid #eeeded;border-radius:1px;background-color: #FDFDFD; overflow:hidden;}
dl.alt dd ol.d2>li>a{ display: block; padding: 6px 30px 6px 20px; color: #666; text-shadow: #e8e6e6 1px 1px 1px; }
dl.alt dd ol.d2>li>a:hover{ color: #006; }
dl.alt dd ol.d2>li>a:before{top:12px;left:7px;border:4px solid transparent;border-left-color:#d6d3d3;}
dl.alt dd ol.d2>li.cur>a:before{top:15px;left:7px;border:4px solid transparent;border-top-color:#006;}
dl.alt dd ol.d2>li.loading:before{border:0;top:1px;right:3px;}
dl.alt dd ol.d2>li.cur>a{ color: #006; box-shadow:inset  0px -1px 1px 0px #cbcaca;background-color: #EEEEEE;border-top:1px solid #d9d6d6; }
dl.alt dd ol.d2>li.loading>a{background-color:none;}
dl.alt dd ol.d2>li.loading:before{top:2px;right:3px;height:25px;width:25px;}
dl.alt dd ol.d2 li ul{ padding:8px 10px; }
dl.alt dd ol.d2 li ul li{color:#666;padding:5px 17px;font-size:12px;}
dl.alt dd ol.d2 li ul li:before{top:12px;left:7px;border:4px solid transparent;border-left-color:#999999;}
dl.alt dd ol.d2 li ul li strong{padding:2px;color:#039;}
dl.alt dd ol.d2 li ul li.no{padding:10px;}
dl.alt dd ol.d2 li ul li.no:before{border:0;}
dl.alt dd ol.d2>li.cur{ box-shadow: inset 0px -1px 1px 0px #c5c1c1; background-color: #FDFDFD; }
/*
	USER SUGGESTION -> COMMON -> FORM
*/
dl.alt dd ol.d3{counter-reset:contribution-counter;}
dl.alt dd ol.d3>li{counter-increment:contribution-counter;}
dl.alt dd ol.d3>li:after{top:-3px;left:-7px;width:20px;height:20px;padding:5px;border-radius:50px;color:#333;font-size:13px;background-color:#fff;}
/*dl.alt dd ol.d3>li:not([data-icon=""]):after{display:none;}*/
dl.alt dd ol.d3>li:before{top:10px;right:10px;}
dl.alt dd ol.d3>li.cur:before{top:12px;right:12px;}
dl.alt dd ol.d3>li.loading:before{top:1px;right:3px;height:25px;width:25px;border:0;}
dl.alt dd ol.d3>li>a{display:inline-block;color:#666;text-overflow:ellipsis;}
dl.alt dd ol.d3>li>a:before{width:auto;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;font-size:11px;}
/*
	d3 -> ds
*/
dl.alt dd ol.ds>li{color:#039;margin:12px 0;}
dl.alt dd ol.ds>li:after{content:counter(contribution-counter, decimal);border: 1px solid #fff; box-shadow:inset 0px 1px 1px 0px #939090;text-shadow: #000 1px 1px 1px; color: #fff; font-family: "Times New Roman", Times, serif; }
dl.alt dd ol.ds>li:before{border:4px solid transparent;border-left-color:#e8e6e6;}
dl.alt dd ol.ds>li.cur:before{border:4px solid transparent;border-top-color:#464e9a;}
dl.alt dd ol.ds>li.loading:before{border:0;}
dl.alt dd ol.ds>li>a{padding:3px 9px 3px 30px;background-color:#FDFDFD;box-shadow:1px 0px 1px 0px #bfbdbd;white-space:nowrap;max-width:220px;overflow:hidden;}
dl.alt dd ol.ds>li.cur>a{ background-color: #F9F9F9; color: #009; }
/*
	CHILDREN COMMON 
*/
dl.alt dd ol li ul, 
dl.alt dd ol li form{padding:7px 0;}
dl.alt dd ol li ul li{counter-reset:contribution-counter;padding:4px 10px 4px 25px;margin:4px 12px;position:relative;}
dl.alt dd ol li ul li:before{top:12px;left:7px;border:4px solid transparent;border-top-color:#464e9a;}
dl.alt dd ol li ul li.cur:before{top:10px;left:10px;border:4px solid transparent;border-left-color:#fff;}
dl.alt dd ol li ul li.loading:before{top:2px;left:1px;height:24px;width:24px;border:0;}
/*
	d3 -> ds -> b
*/
dl.alt dd ol li ul.b{box-shadow: inset 0px 1px 2px 0px #ecebeb; border-bottom: 1px solid #eeeded;background-color:#FDFDFD;}
dl.alt dd ol li ul.b li{cursor:pointer;border-radius:1px;box-shadow:0px 1px 1px 0px #939090;background-color:#FFFFFF;}
dl.alt dd ol li ul.b li.n{border-radius:0px;box-shadow:0px 0px 0px 0px #939090;background-color:#FCFCFC;}
dl.alt dd ol li ul.b li:hover{color:#666;background-color:#F4F4F4;}
dl.alt dd ol li ul.b li.cur{background-color:#A6B0C8;color:#fff;text-shadow:#666 1px 1px 1px;}
dl.alt dd ol li ul.b p{padding:7px 25px;font-size:12px;color:#666;}
dl.alt dd ol li ul.b p strong{color:#900;}
/*
	d3 -> ds -> from
*/
dl.alt dd ol li form{box-shadow: inset 0px 1px 2px 0px #ecebeb; border-bottom: 1px solid #eeeded;background-color:#FDFDFD;}
dl.alt dd ol li form p{padding:1px 1px 1px 25px;position:relative;}
dl.alt dd ol li form p:before{content:attr(title);width:20px;height:15px;padding:5px;top:18px;left:0;color:#CCC;font-size:11px;text-shadow:#fff 1px 1px 1px;}
dl.alt dd ol li form p label, dl.alt dd ol li form p input, dl.alt dd ol li form p textarea{display:block;border-radius:2px;}
dl.alt dd ol li form p label{font-size:10px;color:#666;}
dl.alt dd ol li form p input, dl.alt dd ol li form p textarea{border:1px solid #E5E5E5;padding:2px;box-shadow:1px 0px 1px 0px #ecebeb;outline:none;}
dl.alt dd ol li form p input{width:80%;}
dl.alt dd ol li form p textarea{width:80%;}
dl.alt dd ol li form p input[type="submit"]{width:auto;border:0;padding:3px 10px;border-radius:2px;background-color:#8F9CBA;color:#FFF;}
dl.alt dd ol li form p.submit{}
dl.alt dd ol li form p:empty{display:none;}
dl.alt dd ol li form p.msg{color:#900;}
dl.alt dd ol li form p.msg:before{}
dl.alt dd ol li form p.msg.loading:before{content:" ";width:20px;height:10px;top:0px;left:0;}
/*
	d3 -> ds -> dy (LYRIC)
*/
dl.alt dd ol.dy{ box-shadow: inset 0px 1px 2px 0px #ecebeb; border-bottom: 1px solid #eeeded; padding:15px 30px;text-shadow:#ccc 1px 1px 1px;}
dl.alt dd ol.dy:before{box-shadow: inset 0px -1px 1px 0px #939090; background-color: #fff;content: attr(data-icon); padding:1px 5px; top:0px; left: 8px; width: auto; min-width: 20px; height:18px; text-shadow:#ccc 1px 1px 1px;border-radius:2px; font-size: 12px;}
dl.alt dd ol.dy li:after{display:none;}
dl.alt dd ol.dy li p{}
dl.alt dd ol.dy li p.title{ font-size: 16px; padding-top:5px; }
dl.alt dd ol.dy li p.artist{font-size: 11px;}
dl.alt dd ol.dy li p.day{font-size: 10px;}
dl.alt dd ol.dy li:nth-child(2){ color:#039;margin-top:3px; font-size: 11px;}
dl.alt dd ol.dy li:nth-child(2) span{ display: inline-block; padding:1px 7px;  cursor: pointer; border-radius:1px;background-color:#8F9CBA;color:#FFF;}
dl.alt dd ol.dy li:nth-child(2) em{ display: inline-block;color: #B5B5B5;}
dl.alt dd ol.dy:hover li:nth-child(2) span{ background-color: #8492B3; }
/*
	d3 -> ds -> l
*/
/*
dl.alt dd ol li ul.l{box-shadow:inset 0px 1px 1px 1px #d1cece;padding:0;}
dl.alt dd ol li ul.l li{margin:0px 0px;padding:10px 30px;font-size:13px;color:#666;text-shadow:#fff 1px 1px 1px;cursor:pointer;}
dl.alt dd ol li ul.l li:hover{background-color:#F4F4F4;}
dl.alt dd ol li ul.l li.cur{background-color:#A6B0C8;color:#fff;text-shadow:#666 1px 1px 1px;}
dl.alt dd ol li ul.l li:before{top:19px;}
dl.alt dd ol li ul.l li.cur:before{top:15px;}
dl.alt dd ol li ul.l li.loading:before{top:8px;}
*/
/*
	d3 -> da
*/
dl.alt dd ol.da>li{ margin: 7px 0px; padding: 3px 0; color: #646464; box-shadow: inset 0px 1px 2px 0px #ecebeb; border-bottom: 1px solid #eeeded; border-radius: 2px; }
dl.alt dd ol.da>li:after{content:attr(data-icon);box-shadow: inset 0px 1px 1px 0px #939090; border: 1px solid #fff;background-color: #FCFCFC;border-radius:30px;text-shadow:#666 1px 1px 1px;color:#F8F8F8;overflow:hidden;font-size:12px;font-weight:normal;font-variant:normal;}
dl.alt dd ol.da>li>a{ display: block; margin:1px 22px 1px 27px;}
dl.alt dd ol.da>li>a:hover{ color: #900; }
dl.alt dd ol.da>li.cur>a{color: #039;}
dl.alt dd ol.da>li>a>strong{ color: #036; }
dl.alt dd ol.da>li>ul{}
dl.alt dd ol.da>li>p{ padding: 10px 20px; color: #C00; }
dl.alt dd ol.da>li>ul>li.cur{}
dl.alt dd ol.da>li>ul>li.loading{}
dl.alt dd ol.da>li>ul>li{ padding:0;margin:0;}
dl.alt dd ol.da>li>ul>li>a{ display:block; padding: 4px 0; margin: 1px 27px 1px 27px; color: #646464; font-size: 13px; }
dl.alt dd ol.da>li>ul>li>a.detail{  }
dl.alt dd ol.da>li>ul>li.cur>a{color: #039;}
dl.alt dd ol.da>li>ul>li:before{top:11px;left:15px;border:4px solid transparent;border-left-color:#666;}
dl.alt dd ol.da>li>ul>li.cur:before{top:13px;left:12px;border:4px solid transparent;border-top-color:#464e9a;}
dl.alt dd ol.da>li>ul>li.loading:before{top:-1px;left:0px;border:4px solid transparent;}
dl.alt dd ol.da>li>form{box-shadow:inset 0px 0px 0px 0px #ecebeb;border:0;background-color:transparent;}
dl.alt dd ol.da>li>ul>li>form{box-shadow:inset 0px 1px 0px 0px #ecebeb;border:0;background-color:transparent;}

dl.alt dd ol.da>li>ul>li.page{ margin: 1px 25px; }
dl.alt dd ol.da>li>ul>li.page:before,
dl.alt dd ol.da>li>ul>li.page:after{border:0px;left:-20px; top:0px;}
dl.alt dd ol.da>li>ul>li.page.loading:before{ }
dl.alt dd ol.da>li>ul>li.page>a{ display: inline-block; width: auto; padding: 0px 3px; margin:1px 1px; border-radius:2px; color: #333; background-color: #D9DFEA; }
dl.alt dd ol.da>li>ul>li.page>a.current{ color:#333;background-color:#A8B5CE; }

/*
	d3 -> as
*/
dl.alt dd ol.as>li{color:#039;margin:12px 0px;}
dl.alt dd ol.as>li:after{content:counter(contribution-counter, decimal);border: 1px solid #fff; box-shadow:inset 0px 1px 1px 0px #939090;text-shadow: #000 1px 1px 1px; color: #fff; font-family: "Times New Roman", Times, serif;}
dl.alt dd ol.as>li:before{border:4px solid transparent;border-left-color:#e8e6e6;}
dl.alt dd ol.as>li.cur:before{border:4px solid transparent;border-top-color:#464e9a;}
dl.alt dd ol.as>li.loading:before{border:0;}
dl.alt dd ol.as>li>a{padding:3px 9px 3px 30px;background-color:#FDFDFD;box-shadow:1px 0px 1px 0px #bfbdbd;white-space:nowrap;max-width:220px;overflow:hidden;}
dl.alt dd ol.as>li.cur>a{background-color: #F9F9F9; color: #009;}
dl.alt dd ol.as>li>p, dl.alt dd ol.as>li>ul{box-shadow: inset 0px 1px 2px 0px #ecebeb; border-bottom: 1px solid #eeeded; }
dl.alt dd ol.as>li>p{}
dl.alt dd ol.as>li>ul{box-shadow: inset 0px 1px 2px 0px #ecebeb; border-bottom: 1px solid #eeeded;background-color:#FDFDFD;}
dl.alt dd ol.as>li>p{ padding:30px 20px; color: #999; }
dl.alt dd ol.as>li>ul{}
dl.alt dd ol.as>li>ul>li{border-radius:1px; box-shadow:0px 1px 1px 0px #939090;background-color:#FFFFFF;}
dl.alt dd ol.as>li>ul>li>strong{ display: block; text-transform: capitalize;}
dl.alt dd ol.as>li>ul>li>p{display:block;}
dl.alt dd ol.as>li>ul>li>p>span{ display: inline-block; position: relative; padding:0 5px 0 7px;color: #666;  }
dl.alt dd ol.as>li>ul>li>p>span:before{ border: 4px solid transparent; border-left-color: #e8e6e6; top:6px; left: 0; }
/*
dl.alt dd ol.ds>li{color:#039;margin:12px 0;}
dl.alt dd ol.ds>li:after{content:counter(contribution-counter, decimal);border: 1px solid #fff; box-shadow:inset 0px 1px 1px 0px #939090;text-shadow: #000 1px 1px 1px; color: #fff; font-family: "Times New Roman", Times, serif; }
dl.alt dd ol.ds>li:before{border:4px solid transparent;border-left-color:#e8e6e6;}
dl.alt dd ol.ds>li.cur:before{border:4px solid transparent;border-top-color:#464e9a;}
dl.alt dd ol.ds>li.loading:before{border:0;}
dl.alt dd ol.ds>li>a{padding:3px 9px 3px 30px;background-color:#FDFDFD;box-shadow:1px 0px 1px 0px #bfbdbd;white-space:nowrap;max-width:220px;overflow:hidden;}
dl.alt dd ol.ds>li.cur>a{ background-color: #F9F9F9; color: #009; }
______________________
dl.alt dd .b1{ box-shadow: inset 0px 1px 2px 0px #ecebeb; border-bottom: 1px solid #eeeded; padding: 20px 30px; color: #333; font-variant: normal; text-transform: none; }
dl.alt dd .b1:after{ top: 0px; left: 8px; width: 20px; height:20px; padding:0px 5px;box-shadow: inset 0px -1px 1px 0px #939090; background-color: #fff;border-radius: 2px;font-size: 12px; content:attr(data-icon);text-shadow: #666 0px 1px 1px; overflow: hidden; color: #FFFFFF; font-family: "Times New Roman", Times, serif; }

___________________
dl.alt dd ol.as>li{color:#039;margin:12px 0px;}
dl.alt dd ol.as>li:after{content:"Ar";border:1px solid #F8F8F8;box-shadow:inset 0px 1px 1px 0px #939090;text-shadow:#ccc 1px 1px 1px;border-radius:30px;background-color:#fff;}
dl.alt dd ol.as>li:before{border:4px solid transparent;border-left-color:#e8e6e6;}
dl.alt dd ol.as>li.cur:before{border:5px solid transparent;border-top-color:#464e9a;}
dl.alt dd ol.as>li.loading:before{border:0;}
dl.alt dd ol.as>li>a{padding:4px 10px 4px 30px;background-color:#FCFCFC;box-shadow:1px 0px 1px 0px #bfbdbd;white-space:nowrap;max-width:220px;overflow:hidden;}
dl.alt dd ol.as>li.cur>a{background-color:#F4F4F4;}
dl.alt dd ol.as>li>p, dl.alt dd ol.as>li>ul{box-shadow:inset 0px 1px 2px 0px #ecebeb;background-color:#FDFDFD;border:1px solid #DBDBDB;}
dl.alt dd ol.as>li>p{ padding:30px 20px; color: #999; }
dl.alt dd ol.as>li>ul{}
dl.alt dd ol.as>li>ul>li{border-radius:1px; box-shadow:0px 1px 1px 0px #939090;background-color:#FFFFFF;}
dl.alt dd ol.as>li>ul>li>strong{ display: block; text-transform: capitalize;}
dl.alt dd ol.as>li>ul>li>p{display:block;}
dl.alt dd ol.as>li>ul>li>p>span{ display: inline-block; position: relative; padding:0 5px 0 7px;color: #666;  }
dl.alt dd ol.as>li>ul>li>p>span:before{ border: 4px solid transparent; border-left-color: #e8e6e6; top:6px; left: 0; }
*/
/*TEST*/
.tes{ display: block; font-style: normal; padding:60px 0; background-color:#FCFCFC; }
.tes:before, .tes:after{width:100%; height:20px; background-repeat: no-repeat; }
.tes:before{top:30px;background-image: url(../.s./template/images/border-ef-top.png);background-position: center top;  }
.tes:after{ bottom:30px; background-image: url(../../template/images/border-ef-top.png); background-position: center top; }

/*
.mlt .tr{display:block;}
.mlt .tr .td{display:table-cell;}
.mlt .tr.tk{ margin-bottom: 7px; }
*/